/* .propertyItem {
    color: black;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 10px;
}

.propertyItem:hover {
    transform: translate(0px, -3px);
    transition-duration: 0.5s;
}

.propertyItem span {
    font-size: 24px;
}

.propertyImg {
    width: 400px;
}

.itemText {
    padding: 25px 0px;
}
.cartButton {
    margin-top: 30px;
    color: black;
    padding: 9px 100px;
    border-radius: 6px;
    background-color: white;
    border: 2px solid #CF6F49;
    font-size: 18px;
    border: 1px solid #CF6F49;
}
.cartButton:hover {
    background: #ad502c;
    color: white;
} */

.main {
    background-color: #F5F5F2;
    margin: 0 auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.mainImg {
    padding-top: 20px;
    width: 1000px;
    border-radius: 0px 326px 0px 123px;
}

.header {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.preloader {
    margin: 0 auto;
}